.jumbotron
{
background-image:url('../onepalm.png');
background-repeat:no-repeat;
background-attachment:fixed;
min-height:200px;
margin-bottom:0px;
color:white;
  
}    

#makeupjumbo{
background-image:url('../f.png');
background-size:cover;
background-attachment:fixed;
min-height:900px;
margin-bottom:0px;
color:white;
}

#arrow{
	font-size:40px;
	color:black;
}

#minxjumbo{
background-image:url('../c.png');
background-size:cover;
background-attachment:fixed;
min-height:900px;
margin-bottom:0px;
color:white;
}

#nailsjumbo{
background-image:url('../palmd.png');
background-size:cover;
background-attachment:fixed;
min-height:900px;
margin-bottom:0px;
color:white;
}

#galleryjumbo{
background-image:url('../pp.png');
background-size:cover;
background-attachment:fixed;
min-height:900px;
margin-bottom:0px;
color:white;
}

.alt1
{
background:#eee;
min-height:400px;
}

.alt2
{
background:#333;
min-height:150px;
color:#fff;
text-align:center;
}

.padding
{
padding-top:20px;
padding-bottom:20px;
}


